/* Variables de colores */
:root {
    --color-primary: #2B52FF;
    --color-secondary: #FFF9EB;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    width: 700px;
    text-align: center;
}

/* Cabecera */
.header {
    background-color: var(--color-primary);
    padding: 30px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 150px;
    margin-top: 10px;
}

/* Contenido inferior */
.contenido {
    background-color: var(--color-secondary);
    padding: 40px;
    border-radius: 30px 30px 0 0;
    margin-top: -20px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

/* Secci칩n de entrada */
.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

input {
    padding: 12px;
    border-radius: 30px;
    border: 1px solid gray;
    width: 250px;
    font-size: 1rem;
}

/* Bot칩n "A침adir" */
.btn-adicionar {
    background-color: #d3d3d3;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-adicionar:hover {
    background-color: #a9a9a9;
}

/* Bot칩n "Sortear Amigo" */
.sorteo-btn {
    background-color: var(--color-button);
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 220px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.sorteo-btn img {
    width: 22px;
    margin-right: 10px;
}

.sorteo-btn:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
}

/* Lista de nombres */
ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul li {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
}

